---
layout: index
section_id: pages

works:
- title: Making A Path Where Before There was None
  <!-- type: generative interactive installation
  exhibit: PIP ArtX_Rensselaer, Empac Studio 1 -->
  img: Picture1.png
  link_to: 1978_Making_a_path

- title: Device for Architectural Inversion 1979
  <!-- type: generative interactive installation
  exhibit: PIP ArtX_Rensselaer, Empac Studio 1 -->
  img: Picture2.png
  link_to: 1979_Device_for_Architectural_Inversion

- title: How to Revive Dead Roses Linear Video
  <!-- type: generative installation
  collab: Bill Seaman and Sonke Johnsen, with Todd Berreth  -->
  <!-- exhibit: World Photonics Forum Fitzpatrick Institute of Photonics, Duke University, Durham, NC  -->
  img: Picture3.png
  link_to: 1979_How_to_Revive_Dead_Roses_Linear_Video

- title: Various Tools with D. Hoover, K. Davidson, M. Fortuna San Francisco, California
  <!-- type: research/learning system information -->
  img: Picture4.png
  link_to: 1979_various_tools

- title: Violence Is Music Is Release
  <!-- type: generative installation
  collab: Bill Seaman with Todd Berreth
  exhibit: RE-NEW Digital Arts Festival, Stockholm, Sweden, American Society for Cybernetics Conference, Bolton, UK -->
  img: Picture5.png
  link_to: 1979_Violence_Is_Music_Is_Release

- title: Curve-0-Inverted Curve 
  <!-- type: Generative Architectural Installation
  collab: with Todd Berreth
  exhibit:   Nasher Museum of Art, Durham, NC, featured exhibition at CHAT 2012 Festival -->
  img: Picture6.png
  link_to: 1980_Curve

- title: apt.alt.
  <!-- type: Version 1.0 Generative Video / Audio / Text Installation
  exhibit:  IEEE Visweek 2011 Exhibition, Providence, RI 
  collab: with Todd Berreth -->
  img: Picture7.png
  link_to: 1981_apt

- title: Architectural Hearing Aids (AHA) 
  <!-- collab: with Todd Berreth
  type: interactive installation -->
  img: Picture8.png
  link_to: 1981_AHA

- title: Home–Homeostatic Range Linear Video
  <!-- type: Version 3.0 Generative Video / Text
  collab: with Daniel Howe
  exhibit: RENCI, Chapel Hill, NC -->
  img: Picture9.png
  link_to: 1981_Homeostatic_Range

- title: One Pulls Pivots At The Tip Of The Tongue
  <!-- type: Version 2.0 Generative Video / Text
  collab: with Daniel Howe
  exhibit: Dans La Nuit Des img, Paris, France -->
  img: Picture10.png
  link_to: 1983_One_Pulls_Pivots_at_the_Tip

- title: One Pulls Pivots At The Tip Of The Tongue
  <!-- type: Version 2.0 Generative Video / Text
  collab: with Daniel Howe
  exhibit: Dans La Nuit Des img, Paris, France -->
  img: Picture12.png
  link_to: 1983_One_Pulls_Pivots_at_the_Tip

- title: P.L.A.N.E.S
  <!-- type: (Digital Version), Interactive Work (Forthcoming) [orig. 1990] -->
  img: Picture11.png
  link_to: 1981_PLANET

- title: S.he 
  <!-- exhibit: Nabi Art Center / SKT Building installation, Seoul, Korea
  collab: collaboration with Yeong-woong Cheong -->
  img: SHe.png
  link_to: 1983_SHe

- title: Telling Motions
  <!-- exhibit: Harris Museum, Lancashire, England 
  collab: (part of the group show Digital Aesthetic 2) -->
  img: Picture13.png
  link_to: 1985_telling_motions

- title: Water Wheel
  <!-- exhibit: Itau Cultural Center, Distributed Text, Sao Paulo, Brazil -->
  img: Picture14.png
  link_to: 1985_Water_wheel

- title: In the Key of West Choreographed
  <!-- collab: Trnava, Slovakia
  type: installation, video and text -->
  img: Picture15.png
  link_to: 1986_In_the_key_of_the_west

- title: Shear
  <!-- type: installation and text -->
  img: Picture16.png
  link_to: 1986_Shear

- title: The Boxer's Puzzle
  <!-- collab: with Gideon May, programmer
  type: interactive work -->
  img: Picture17.png
  link_to: 1986_The_Boxers_Puzzle

- title: Details from the Book of Notice Sound/text Installation
  <!-- collab: collaboration with Regina Van Berkel 
  type: dance, performance and installation -->
  img: Picture18.png
  link_to: 1988_Details_from_the_Book

- title: The Design of the Grip
  <!-- collab: with Regina Van Berkel
  type: installation and linear Video -->
  img: Picture19.png
  link_to: 1989_grip

- title: The Watch Detail
  <!-- type: installation and linear video -->
  img: Picture20.png
  link_to: 1990_the_watch_detail

- title: The Exquisite Mechanism of Shivers
  <!-- type: virtual Environment -->
  img: Picture21.png
  link_to: 1991_the_exquisite_mechanism_of_shivers

- title: FRAGMENT CONSTRUCTIONS(Audio)
  <!-- type: linear video and interactive videodisc -->
  img: Picture22.png
  link_to: 1993_Fragment_Constructions

- title: Abstraction Machine(Erotic)
  <!-- type: linear video and lnteractive videodisc -->
  img: Picture23.png
  link_to: 1994_Abstraction_Machine

- title: Passage Sets
  <!-- type: linear video and interactive videodisc -->
  img: Picture30.png
  link_to: 1995_Passage_Sets

- title: Com_Space
  <!-- type: Interactive Videodisc -->
  img: Picture31.png
  link_to: 2007_com_space

- title: The Architecture of Association
  <!-- type: Art-Int-Act CD Rom
  exhibit: Zentrum Für Kunst und Medientechnologie Publication -->
  img: Picture32.png
  link_to: 2008_architecture_of_association

- title: A China of Many Senses
  img: Picture34.png
  link_to: 2009_china_of_many_senses

- title: Generative combinatoric text system
  img: Picture37.png
  link_to: 2009_generative_text_system

- title: The Design of the Grip
  img: img10.jpg
  link_to: the_design_of_the_grip

- title: Details from the Book of Notice
  img: img10.jpg
  link_to: book_of_notice

- title: Shear, Boxer’s Puzzle, Telling Motions
  img: Shear.png
  link_to: 1985_telling_motions

- title: Water Catalogue
  img: waterCatalog.png
  link_to: 1984_Water_Catalog

poems: 
- title: (Re)Sensing the Observer Offering an Open Order Cybernetics (2006)
  link_to: resensing_open_order_cybernetics
  img: img0.jpg

- title: Interflow - Architectures
  link_to: rep_digital_video
  img: img1.jpg

- title: The Hybrid Invention Generator - Assorted Relations
  link_to: rep_digital_video
  img: img2.jpg

- title: Epiphany
  link_to: epiphany
  img: img3.jpg

- title: n - Space Nano Virtual
  link_to: nspace_nano
  img: img4.jpg

- title: Re-P Digital Video
  link_to: rep_digital_video
  img: img5.jpg

- title: Exchange Fields / Embodied Positions
  link_to: rep_digital_video
  img: img6.jpg

- title: E - phany Physics
  link_to: rep_digital_video
  img: img7.jpg

- title: Re - Embodied Intelligence
  link_to: reembodied_intellegence
  img: img8.jpg

- title: Nonsense Logic
  link_to: nonsense_logic
  img: img9.jpg

- title: Hybrid Architectures (1998)
  link_to: rep_digital_video
  img: img10.jpg

- title: Artificial Games
  link_to: artificial_games
  img: img11.jpg

- title: Videodisc
  link_to: rep_digital_video
  img: img12.jpg

- title: New Electronic Forms
  link_to: rep_digital_video
  img: img13.jpg

poems: 
- title: (Re)Sensing the Observer Offering an Open Order Cybernetics (2006)
  link_to: resensing_open_order_cybernetics
  img: img0.jpg

- title: Interflow - Architectures
  link_to: rep_digital_video
  img: img1.jpg

- title: The Hybrid Invention Generator - Assorted Relations
  link_to: rep_digital_video
  img: img2.jpg

- title: Epiphany
  link_to: epiphany
  img: img3.jpg

- title: n - Space Nano Virtual
  link_to: nspace_nano
  img: img4.jpg

- title: Re-P Digital Video
  link_to: rep_digital_video
  img: img5.jpg

- title: Exchange Fields / Embodied Positions
  link_to: rep_digital_video
  img: img6.jpg

- title: E - phany Physics
  link_to: rep_digital_video
  img: img7.jpg

- title: Re - Embodied Intelligence
  link_to: reembodied_intellegence
  img: img8.jpg

- title: Nonsense Logic
  link_to: nonsense_logic
  img: img9.jpg

- title: Hybrid Architectures (1998)
  link_to: rep_digital_video
  img: img10.jpg

- title: Artificial Games
  link_to: artificial_games
  img: img11.jpg

- title: Videodisc
  link_to: rep_digital_video
  img: img12.jpg

- title: New Electronic Forms
  link_to: rep_digital_video
  img: img13.jpg
---
<html lang="en" scroll="no" style="overflow: hidden">
  <body style="position: relative; overflow: hidden; background: black; color: #b4b3b3"></body>
  <div class="col-md-2 offset-md-2">
    <div id="vertical-view"  dir="rtl">
        <div class="vertical"  style="position: absolute; z-index:2;" dir="rtl">
            {% for work in page.works %}
                <a class = "boxes" href="works/{{work.link_to}}">
                <img src="images/assets/{{work.img}}" height="200" alt="">
                </a>
            {% endfor %}
        </div>
      </div>
   </div>

   <br>
   <br>
   <div id="horizontal-view">
   <div class="horizontal" style=" z-index:1">
        {% for poem in page.poems %}
            <a href="poems/{{poem.link_to}}" height="200" width="200">
            <img src="images/poems/{{poem.img}}" height="200" width="200" alt="">
            </a>
        {% endfor %}
  </div>
</div>

  <div class="col-md-4 offset-md-6">
        <a href="#"><h1>Bill Seaman</h1></a>
        <a href="work.html"><h4>Work</h4></a>
        <a href="albums.html"><h4>Albums</h4></a>
        <a href="books.html"><h4>Books</h4></a>
        <a href="Papers.html"><h4>Papers</h4></a>
        <a href="PoeticTexts.html"><h4>Poetic Texts</h4></a>
        <a href="index_gallery"><h4>Gallery</h4></a>
        <a href="about.html"><h4>About</h4></a>
        <a href="contact.html"><h4>Contact</h4></a>
        <a href="#">
          <h4 id="cv" onclick="cvDrop()">CV</h4>
          <ul id="subcv">
            <li id="cv-child1">
              <a href="CV/Resume_Seaman_02_20_2020.pdf"><h5>View</h5></a>
            </li>
            <li id="cv-child2">
              <a href="CV/Resume_Seaman_02_20_2020.pdf" download><h5>Download</h5></a>
            </li>
          </ul>
        </a>
        
  </div>

  <link rel="stylesheet" type="text/css" href="css/slick.css"/>
  <link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/CSSRulePlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/Draggable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/EaselPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/MotionPathPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/PixiPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/TextPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/ScrollToPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/EasePack.min.js"></script>


  <script type="text/javascript" src="./js/jquery.js"></script>
  <script type="text/javascript" src="./js/slick.js"></script>
  <script type="text/javascript" src="./js/horizontal.js"></script>
  <script type="text/javascript" src="./js/vertical.js"></script>