<!DOCTYPE html>
<html>

  {% include head.html %}
  <link rel="stylesheet" href="css/gallery_style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <body style="background-color: black;">

    {% include subpageheader.html %}

    <br>
    <br>
    <br>
    {{ content }}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script>
        $(".gallery").magnificPopup({
          delegate: 'a',
          type: 'image',
          gallery:{
            enabled: true
          }
        });
      </script>
  </body>

</html>
