<!DOCTYPE html>
<html>

  {% include head.html %}
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="css/gallery_style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <body style="background-color: black;">

    {% include subpageheader.html %}

    <br>
    <br>
    <br>
    {{ content }}

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/slick.min.js"></script>


</script>

  </body>

</html>
